
**/node_modules
**/.pnp
.pnp.js
**/rabbitmq_data
/rabbitmq_data
rabbitmq_data/
./rabbitmq_data

**/data
**/coverage


**/build


.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local


npm-debug.log*
yarn-debug.log*
yarn-error.log*

**/dist
**/tmp
**//out-tsc
**/bazel-out

npm-debug.log
yarn-error.log

.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

**/.angular/cache
.sass-cache/
**/connect.lock
**/libpeerconnection.log
testem.log
**/typings


Thumbs.db
