<mat-card align="center">
    <h1>Login</h1>
    
    <mat-form-field class="email" appearance="outline">
        <mat-label>E-mail</mat-label>
        <input matInput type="email" placeholder="exemplo@gmail.com.br" [(ngModel)]="email">
    </mat-form-field>
    <br>
    <mat-form-field class="password" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" [(ngModel)]="password">
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary">Sign in</button>
    <br>
    <button mat-button color="primary">Don't have a registration yet?</button>
</mat-card>