<mat-card align="center">
    <h1>Register</h1>
    
    <mat-form-field class="name" appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput type="text" [(ngModel)]="name">
    </mat-form-field>
    <br>
    <mat-form-field class="email" appearance="outline">
        <mat-label>E-mail</mat-label>
        <input matInput type="email" placeholder="exemplo@gmail.com.br" [(ngModel)]="email">
    </mat-form-field>
    <br>
    <mat-form-field class="fone" appearance="outline">
        <mat-label>Phone</mat-label>
        <input matInput type="text" [(ngModel)]="phone">
    </mat-form-field>
    <br>
    <mat-form-field class="password" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" [(ngModel)]="password">
    </mat-form-field>
    <br>
    <mat-form-field class="confirmPassword" appearance="outline">
        <mat-label>Confirm your password</mat-label>
        <input matInput type="confirmPassword" [(ngModel)]="confirmPassword">
    </mat-form-field>
    <br>
    <button (click)="onSubmit()" mat-raised-button color="primary">Sign up</button>
    <br>
    <button mat-button color="primary">Already have a registration??</button>
</mat-card>